<div class="p-3">
  <h2 class="mb-5">Lista predmeta</h2>

  <div class="d-flex justify-content-between mb-3">
    <div>
      <button
        [routerLink]="['/subjects/form']"
        class="btn btn-primary d-flex justify-content-center align-items-center mb-3"
      >
        Dodaj predmet<i class="bi bi-plus-lg mx-2"></i>
      </button>
    </div>

    <div class="d-flex flex-row">
      <input
        class="p-4 mr-4 form-control"
        style="height: 50px; width: 450px"
        type="text"
        placeholder="Pretraga po predmetu/profesoru"
        [(ngModel)]="searchText"
      />
      <button class="btn btn btn-info mx-3" (click)="applyFilter(searchText)">
        Pretraži
      </button>
      <button
        *ngIf="statusFilter"
        class="btn btn-warning"
        (click)="resetFilter()"
      >
        <i class="bi bi-x-circle-fill mx-2"></i>Poništi pretragu
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Naziv predmeta</th>
        <th>Cijena programa</th>

        <th>Popust programa</th>
        <th>Ukupna cijena</th>
        <th>Profesor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of displayList(currentPage)">
        <td>{{ subject.nazivPredmeta }}</td>
        <td>{{ subject.cijenaPrograma }}</td>

        <td>{{ subject.popustPrograma }}</td>
        <td>{{ subject.ukupnaCijenaPrograma }}</td>
        <td>{{ subject.ImePrezimeProfesor }}</td>

        <td>
          <button
            class="btn btn-sm btn-danger mx-1"
            (click)="deleteSubject(subject.idPredmet)"
          >
            <i class="bi bi-trash mx-1"></i>
            Izbriši
          </button>
          <button
            class="btn btn-sm btn-secondary mx-1"
            [routerLink]="['/subjects/form', subject.idPredmet]"
          >
            <i class="bi bi-pencil mx-1"></i>
            Izmijeni
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <button
      class="btn btn-outline-primary mx-1"
      *ngFor="let page of setPagination()"
      (click)="onPageChange(page)"
      [class.active]="currentPage === page"
    >
      {{ page }}
    </button>
  </div>
</div>
