<div class="p-3">
  <h2 class="mb-5">Lista predmeta</h2>

  <div class="d-flex justify-content-between mb-3">
    <div>
      <button
        [routerLink]="['/subjects/form']"
        class="btn btn-primary d-flex justify-content-center align-items-center mb-3"
      >
        Dodaj predmet<i class="bi bi-plus-lg mx-2"></i>
      </button>
    </div>

    <div class="d-flex flex-row">
      <input
        class="p-4 mr-4 form-control"
        style="height: 50px; width: 450px"
        type="text"
        placeholder="Pretraga po predmetu/profesoru"
        [(ngModel)]="searchText"
        (keyup.enter)="applyFilter(searchText)"
      />
      <button class="btn btn btn-info mx-3" (click)="applyFilter(searchText)">
        Pretraži
      </button>
      <button
        *ngIf="statusFilter"
        class="btn btn-warning"
        (click)="resetFilter()"
      >
        <i class="bi bi-x-circle-fill mx-2"></i>Poništi pretragu
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Naziv predmeta</th>
        <th>Cijena programa</th>

        <th>Popust programa</th>
        <th>Ukupna cijena</th>
        <th>Profesor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of displayList(currentPage)">
        <td>{{ subject.nazivPredmeta }}</td>
        <td>{{ subject.cijenaPrograma | currency : "EUR" }}</td>

        <td>{{ subject.popustPrograma }}</td>
        <td>{{ subject.ukupnaCijenaPrograma | currency : "EUR" }}</td>
        <td>{{ subject.ImePrezimeProfesor }}</td>

        <td>
          <button
            class="btn btn-sm btn-danger mx-1"
            (click)="
              deleteSubject(subject.idPredmet, subject.idProfesoriPredmeti)
            "
          >
            <i class="bi bi-trash mx-1"></i>
            Izbriši
          </button>
          <button
            class="btn btn-sm btn-secondary mx-1"
            [routerLink]="[
              '/subjects/form',
              subject.idPredmet,
              subject.idProfesor
            ]"
          >
            <i class="bi bi-pencil mx-1"></i>
            Izmijeni
          </button>
          <!-- <button
            class="btn btn-sm btn-primary mx-1"
            [routerLink]="[
              '/subjects/form',
              subject.idPredmet,
              subject.idProfesor
            ]"
          >
            <i class="bi bi-person-add"></i>
            Dodijeli
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
  <div class="custom-line">
    <p class="nesto px-5">Ukupno predmeta: {{ countOfSubjects }}</p>
  </div>
  <div class="d-flex justify-content-center align-items-center px-5">
    <button
      [disabled]="currentPage == 1"
      class="btn btn-custom mx-5 px-5"
      (click)="onPageChange('predhodna')"
    >
      <i class="bi bi-caret-left"></i> Predhodna
    </button>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <p class="px-2 bg-light rounded text-dark fw-bold">
        {{ currentPage }} od {{ pageCount }}
      </p>
    </div>

    <button
      [disabled]="pageCount <= currentPage"
      class="btn btn-custom mx-5 px-5"
      (click)="onPageChange('sledeca')"
    >
      Sledeća <i class="bi bi-caret-right"></i>
    </button>
  </div>
</div>
