<div class="container">
  <h2 class="mb-5">Dodavanje Ucenika</h2>
  <form [formGroup]="formStudenPayment" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Iznos uplate</label>
        <input
          class="form-control"
          type="number"
          formControlName="iznosUplate"
        />
        <small
          class="text-danger"
          *ngIf="
            formStudenPayment.get('iznosUplate')?.invalid &&
            formStudenPayment.get('iznosUplate')?.touched
          "
        >
          Unesite iznos uplate
        </small>
      </div>
      <div class="col d-none">
        <label class="form-label">Učenik</label>
        <input
          class="form-control"
          type="text"
          formControlName="idUcenik"
          readonly
        />
      </div>
    </div>

    <!----------------------------------------->
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Ime učenika</label>
        <input class="form-control" type="text" formControlName="imeUcenika" />
        <small
          class="text-danger"
          *ngIf="
            formStudenPayment.get('imeUcenika')?.invalid &&
            formStudenPayment.get('imeUcenika')?.touched
          "
        >
          Unesite iznos uplate
        </small>
      </div>
      <div class="col">
        <label class="form-label">Naziv predmeta</label>
        <input
          class="form-control"
          type="text"
          formControlName="predmet"
          readonly
        />
      </div>
    </div>

    <div class="row mb-3 d-none">
      <div class="col">
        <label class="form-label">Predmet</label>
        <input
          readonly
          class="form-control"
          type="text"
          formControlName="idProfesoriPredmeti"
        />
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mb-3">
      <button
        class="btn btn-primary w-25 fw-bold fs-5"
        type="submit"
        [disabled]="formStudenPayment.invalid"
      >
        Dodaj uplatu
      </button>
    </div>
  </form>
</div>
