<div class="d-flex flex-row">
  <div
    class="bg-primary d-flex py-6 p-4 flex-column justify-contenet-center align-items-center col-4 row g-4"
    style="height: 100vh; width: 300px"
  >
    <h2 class="mb-5">Focus Centar</h2>
    <!-- <h3 [routerLink]="['/professors']">Profesori</h3>
    <h3 [routerLink]="['/subjects']">Predmeti</h3>
    <h3 [routerLink]="['/students']">Ucenici</h3>
    <h3 [routerLink]="['/payments']">Placanja</h3> -->
    <a class="link-body-emphasis" href="/professors">Profesori</a>
    <a class="link-body-emphasis" href="/subjects">Predmeti</a>
    <a class="link-body-emphasis" href="/students">Ucenici</a>
    <a class="link-body-emphasis" href="/payments">Placanja</a>
  </div>
  <!--Ovaj div ce da bude sa tabele prikaz-->
  <div></div>

  <div class="p-3 mx-auto w-100 d-flex flex-column">
    <div class="d-flex flex-row px-4 mx-2 mb-4">
      <input
        class="w-100 p-4 mr-4"
        style="height: 50px"
        type="text"
        placeholder="Pretraga"
      />
      <button class="mx-3">Pretrazi</button>
    </div>
    <div class="mx-3 p-3">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
