<div class="d-flex flex-row">
  <div
    class="w-25 bg-primary d-flex py-6 p-4 flex-column justify-contenet-center align-items-center col-4 row g-4"
    style="height: 100vh"
  >
    <h2 class="mb-5">Focus Centar</h2>
    <h3 [routerLink]="['/professors']">Profesori</h3>
    <h3 [routerLink]="['/subjects']">Predmeti</h3>
    <h3 [routerLink]="['/students']">Ucenici</h3>
    <h3 [routerLink]="['/payments']">Placanja</h3>
  </div>
  <!--Ovaj div ce da bude sa tabele prikaz-->
  <div></div>

  <div class="p-3 mx-auto w-100 d-flex flex-column">
    <div class="d-flex flex-row px-4 mx-2 mb-4">
      <input
        class="w-100 p-4 mr-4"
        style="height: 50px"
        type="text"
        placeholder="Pretraga"
      />
      <button class="mx-3">Pretrazi</button>
    </div>
    <div class="mx-3 p-3">
      <router-outlet> </router-outlet>
    </div>

    <!--Ovaj dio ce da bude aktivan u zavisnosti od toga na sta se klikne u heder-->
    <!-- <app-professors class="p-4 mt-4"></app-professors>
<app-form-professors class="p-4 mt-4"></app-form-professors> -->
  </div>
</div>
