<div class="container">
  <h2 class="mb-5">Dodavanje Predmeta</h2>
  <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Naziv predmeta</label>
        <input
          class="form-control"
          type="text"
          formControlName="nazivPredmeta"
        />
        <small
          class="text-danger"
          *ngIf="
            subjectForm.get('nazivPredmeta')?.invalid &&
            subjectForm.get('nazivPredmeta')?.touched
          "
        >
          Unesite Naziv Predmeta
        </small>
      </div>
      <div class="col">
        <label class="form-label">Cijena programa</label>
        <input
          class="form-control"
          type="number"
          formControlName="cijenaPrograma"
        />
        <small
          class="text-danger"
          *ngIf="
            subjectForm.get('cijenaPrograma')?.invalid &&
            subjectForm.get('cijenaPrograma')?.touched
          "
        >
          Unesite cijenu programa
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Popust programa</label>
        <input
          class="form-control"
          type="number"
          formControlName="popustPrograma"
        />
        <small
          class="text-danger"
          *ngIf="
            subjectForm.get('popustPrograma')?.invalid &&
            subjectForm.get('popustPrograma')?.touched
          "
        >
          Unesite Popust Programa. Popust ne moze biti beci od 50%
        </small>
      </div>
      <div class="col">
        <label class="form-label">Profesor</label>
        <select class="form-control" formControlName="idProfesor">
          <option *ngFor="let prof of allProfessors" [value]="prof.idProfesor">
            {{ prof.ImePrezimeProfesor }}
          </option>
        </select>

        <small
          class="text-danger"
          *ngIf="
            subjectForm.get('idProfesor')?.invalid &&
            subjectForm.get('idProfesor')?.touched
          "
        >
          Izaberite Predavaca Predmeta
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Procenat profesora na ovom predmetu</label>
        <input class="form-control" type="number" formControlName="procenat" />
        <small
          class="text-danger"
          *ngIf="
            subjectForm.get('popustPrograma')?.invalid &&
            subjectForm.get('popustPrograma')?.touched
          "
        >
          Unesite procenat profesora na ovom predmetu
        </small>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center mb-3">
      <button
        class="btn btn-primary w-25 fw-bold fs-5"
        type="submit"
        [disabled]="subjectForm.invalid"
      >
        Dodaj
      </button>
    </div>
  </form>
</div>
