<h2 class="mb-5">Lista Svih Profesora</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ime i Prezime</th>
      <th>Kontakt</th>

      <th>Procenat</th>
      <th>Prihod Mjesecni</th>
      <th>Prihod Ukupni</th>
      <th>Opcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let professor of professors">
      <td>{{ professor.ImePrezimeProfesor }}</td>
      <td>{{ professor.kontaktProfesor }}</td>

      <td>{{ professor.procenatProfesor | number : "1.2" }}</td>
      <td>{{ professor.prihodMjesecniProfesor }}</td>
      <td>{{ professor.prihodUkupni }}</td>
      <td>
        <button class="btn btn-sm btn-danger mx-1">Izbrisi</button>
        <button class="btn btn-sm btn-secondary mx-1">Izmijeni</button>
      </td>
    </tr>
  </tbody>
</table>
