<div class="p-3">
  <h2 class="mb-2">Lista Svih Profesora</h2>
  <div class="d-flex justify-content-end mb-3 mx-5">
    <button
      [routerLink]="['/professors/form']"
      class="btn btn-primary d-flex justify-content-center align-items-center mb-3"
    >
      Dodaj Novog Profesora <span class="fw-bold fs-4 px-2">+</span>
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ime i Prezime</th>
        <th>Kontakt</th>

        <th>Procenat</th>
        <th>Prihod Mjesecni</th>
        <th>Prihod Ukupni</th>
        <th>Opcije</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professors">
        <td>{{ professor.ImePrezimeProfesor }}</td>
        <td>{{ professor.kontaktProfesor }}</td>

        <td>{{ professor.procenatProfesor | number : "1.2" }}</td>
        <td>{{ professor.prihodMjesecniProfesor }}</td>
        <td>{{ professor.prihodUkupni }}</td>
        <td>
          <button
            class="btn btn-sm btn-danger mx-1"
            (click)="deleteProfessor(professor.idProfesor)"
          >
            Izbrisi
          </button>
          <button
            class="btn btn-sm btn-secondary mx-1"
            [routerLink]="['/professors/form/', professor.idProfesor]"
          >
            Izmijeni
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
