<div class="p-3">
  <h2 class="mb-5">Lista profesora</h2>
  <div class="d-flex justify-content-between mb-3">
    <div>
      <button
        [routerLink]="['/professors/form']"
        class="btn btn-primary d-flex justify-content-center align-items-center mb-3"
      >
        <i class="bi bi-person-add mx-2"></i> Dodaj profesora
      </button>
    </div>

    <div class="d-flex flex-row">
      <input
        class="p-4 mr-4 form-control"
        style="height: 50px; width: 450px"
        type="text"
        placeholder="Pretraga po predmetu/profesoru"
        [(ngModel)]="searchText"
        (keyup.enter)="applyFilter(searchText)"
      />
      <button class="btn btn btn-info mx-3" (click)="applyFilter(searchText)">
        Pretraži
      </button>
      <button
        *ngIf="statusFilter"
        class="btn btn-warning"
        (click)="resetFilter()"
      >
        <i class="bi bi-x-circle-fill mx-2"></i>Poništi pretragu
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ime i prezime</th>
        <th>Predmeti</th>

        <th>Procenat</th>
        <th>Mjesečni prihod</th>
        <th>Ukupni prihod</th>

        <th>Opcije</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of displayList(currentPage); let i = index">
        <td>{{ professor.ImePrezimeProfesor }}</td>
        <td>{{ professor.nazivPredmeta }}</td>

        <td>{{ professor.procenat }}</td>
        <td>{{ professor.mjesecniPrihod | currency : "EUR" }}</td>
        <td>{{ professor.ukupniPrihod | currency : "EUR" }}</td>

        <td>
          <button
            class="btn btn-sm btn-danger mx-1"
            (click)="
              onClickDelete(professor.idProfesor, professor.idProfesoriPredmeti)
            "
          >
            <i class="bi bi-trash mx-1"></i>
            Izbriši
          </button>
          <button
            class="btn btn-sm btn-secondary mx-1"
            (click)="editProfessor(professor.idPredmet, professor.idProfesor)"
          >
            <i class="bi bi-pencil mx-1"></i>
            Izmijeni
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="custom-line">
    <p class="nesto px-5">Ukupno profesora: {{ countOfProfessors }}</p>
  </div>
  <div class="d-flex justify-content-center align-items-center px-5">
    <button
      [disabled]="currentPage == 1"
      class="btn btn-custom mx-5 px-5"
      (click)="onPageChange('predhodna')"
    >
      <i class="bi bi-caret-left"></i> Predhodna
    </button>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <p class="px-2 bg-light rounded text-dark fw-bold">
        {{ currentPage }} od {{ pageCount }}
      </p>
    </div>

    <button
      [disabled]="pageCount <= currentPage"
      class="btn btn-custom mx-5 px-5"
      (click)="onPageChange('sledeca')"
    >
      Sledeća <i class="bi bi-caret-right"></i>
    </button>
  </div>
</div>
<app-modals
  *ngIf="showModal"
  [professor]="professor"
  (handleModal)="onModalHandle($event)"
></app-modals>
