<div class="container">
  <h2 class="mb-5">Dodavanje profesora</h2>

  <form [formGroup]="professorForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Ime i prezime </label>
        <input
          class="form-control"
          type="text"
          formControlName="ImePrezimeProfesor"
        />
        <small
          class="text-danger"
          *ngIf="
            professorForm.get('ImePrezimeProfesor')?.invalid &&
            professorForm.get('ImePrezimeProfesor')?.touched
          "
        >
          Unesite ime i prezime
        </small>
      </div>
      <div class="col">
        <label class="form-label">Kontakt</label>
        <input
          class="form-control"
          type="text"
          formControlName="kontaktProfesor"
        />
        <small
          class="text-danger"
          *ngIf="
            professorForm.get('kontaktProfesor')?.invalid &&
            professorForm.get('kontaktProfesor')?.touched
          "
        >
          Unesite kontakt telefon
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Email </label>
        <input
          class="form-control"
          type="email"
          formControlName="emailProfesor"
        />
        <small
          class="text-danger"
          *ngIf="
            professorForm.get('emailProfesor')?.invalid &&
            professorForm.get('emailProfesor')?.touched
          "
        >
          Unesite validan email
        </small>
      </div>
      <div class="col">
        <label class="form-label">Adresa</label>
        <input
          class="form-control"
          type="text"
          formControlName="adresaProfesor"
        />
        <small
          class="text-danger"
          *ngIf="
            professorForm.get('adresaProfesor')?.invalid &&
            professorForm.get('adresaProfesor')?.touched
          "
        >
          Unesite validanu adresu
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Procenat</label>
        <input
          class="form-control"
          type="number"
          formControlName="procenatProfesor"
        />
        <div
          class="text-danger"
          *ngIf="
            professorForm.get('procenatProfesor')?.invalid &&
            professorForm.get('procenatProfesor')?.touched
          "
        >
          Unesite procenat profesora
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center mb-3">
      <button
        class="btn btn-primary w-25 fw-bold fs-5"
        type="submit"
        [disabled]="professorForm.invalid"
      >
        Dodaj
      </button>
    </div>
  </form>
</div>
